
[Desktop Entry]
Version=0.1
Name=Pdfbook Gtk GUI
Comment=A Gtk wrapper for pdfbook
Exec=pdfbook-gtk
Type=Application
Categories=Utility;
StartupNotify=false
